<!doctype html>
<html lang="en-US" class="{% if page.title %}page-{{ page.title | slugify }} {% endif %}overrides">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title != 'Home' && page.title %}{{ page.title }} &mdash; {% endif %}Cory Simmons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/dist/css/style.min.css">
    <link rel="shortcut icon" type="image/x-icon" href='{{ site.baseurl }}/favicon.ico'>
  </head>
  <body>
    <!--[if IE]>
      <div class="browserupgrade"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
    <![endif]-->

    <nav class="nav">
      <a href="{{ site.baseurl }}/" class="logo">
        <span>Cory Simmons</span>
        <span>
          while (true === self) {<br>
          &nbsp;&nbsp;web developer;<br>
          &nbsp;&nbsp;human being;<br>
          }
        </span>
      </a>

      <div>
        <a href="{{ site.baseurl }}/resume.pdf">Resume</a>
        <a href="{{ site.baseurl }}/writings/">Writings</a>
        <a href="mailto:csimmonswork@gmail.com">Email Me</a>
      </div>
    </nav>
