@import '../../src/css/reeeset/reeeset.min.css';
@import 'https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700|Lora:400,700';
@import '../../src/css/syntax-highlighting.css';
code {
  font-family: 'Droid Sans Mono for Powerline', 'Droid Sans Mono', Menlo, 'Source Code Pro for Powerline', 'Source Code Pro', 'Roboto Mono for Powerline', 'Roboto Mono', Hack, 'Fira Mono for Powerline', 'Fira Mono', 'Courier New', Courier, monospace, monospace, sans-serif;
}
main a,
.post a {
  color: #517499;
  text-decoration: none;
  position: relative;
}
main a::after,
.post a::after {
  transition: all 200ms ease-in-out;
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 0.075em;
  background: linear-gradient(to right, #fff, #abf9cb, #bce1f7, #d5e9ed, #b5f9d1, #fff);
  max-width: 100%;
  z-index: -1;
}
main a:hover::after,
.post a:hover::after {
  opacity: 0.5;
  max-width: 50%;
  transform: translate3d(50%, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #39526c;
  font-family: Lora, Georgia, serif;
  letter-spacing: -0.025em;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 800px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3333333;
  }
}
p:last-of-type {
  margin-bottom: 1em;
}
:root {
  margin: 30px;
  color: #b4c0cc;
  font-family: 'Istok Web', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
  line-height: 1.666666;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 800px) {
  :root {
    margin: 60px;
    font-size: 18px;
  }
}
body {
  max-width: 1440px;
  margin: auto;
}
nav {
  margin-bottom: 30px;
}
@media (min-width: 800px) {
  nav {
    display: flex;
    margin-bottom: 60px;
  }
}
nav > a {
  display: block;
  width: 250px;
  text-align: center;
  margin-right: auto;
}
@media (min-width: 800px) {
  nav > a {
    text-align: initial;
  }
}
nav > div {
  margin-top: 30px;
}
@media (min-width: 800px) {
  nav > div {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-top: 0;
  }
}
nav > div > a {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  background: #f0f2f5;
  display: block;
  margin-bottom: 2px;
  color: #39526c;
  font-weight: bold;
  letter-spacing: 0.025em;
}
nav > div > a:hover,
nav > div > a:active {
  background: #e8ecf0;
}
@media (min-width: 800px) {
  nav > div > a {
    background: none;
    line-height: 1.333333;
    margin-left: 30px;
    font-size: 0.75rem;
    color: #b4c0cc;
    text-transform: uppercase;
  }
  nav > div > a:hover {
    color: #39526c;
  }
  nav > div > a:hover,
  nav > div > a:active {
    background: none;
  }
}
abbr[title] {
  text-decoration: none;
  position: relative;
  cursor: help;
}
abbr[title]::after {
  position: absolute;
  content: '';
  border-bottom: 1px dotted #b4c0cc;
  width: 100%;
  bottom: 2px;
  left: 0;
}
.logo {
  text-decoration: none;
  margin: auto;
}
@media (min-width: 800px) {
  .logo {
    min-width: 330px;
    margin: -15px 0 0;
  }
}
.logo > span {
  display: block;
  color: #39526c;
}
.logo > span:nth-child(1) {
  font-family: Lora, Georgia, serif;
  font-size: 2.25rem;
  font-weight: 600;
}
.logo > span:nth-child(2) {
  font-family: 'Istok Web', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25em;
  color: #b4c0cc;
  font-size: 0.85rem;
}
@media (min-width: 800px) {
  .page-home main {
    generate-grid: sizes(ratio(1.618, 1) ratio(1.618, 3)) gutter(60px);
    align-items: flex-start;
  }
}
.page-home main > img {
  border-radius: 2px;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .page-home main > img {
    display: block;
    margin: auto;
  }
}
.page-home main > * {
  margin-bottom: 30px;
}
.page-home h1 {
  font-size: 2rem;
}
@media (min-width: 800px) {
  .page-home h1 {
    font-size: 2.25rem;
  }
}
.page-home h3 {
  text-align: center;
}
@media (min-width: 800px) {
  .page-home h3 {
    text-align: initial;
    margin-bottom: 15px;
  }
}
.page-home ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
@media (min-width: 800px) {
  .page-home ul {
    justify-content: flex-start;
  }
}
.page-home ul li {
  margin: 15px;
}
@media (min-width: 800px) {
  .page-home ul li {
    margin: 0 60px 30px 0;
  }
}
.page-home ul a::after {
  display: none;
}
.page-home ul a[desc]::before {
  transition: all 200ms ease-in-out;
  opacity: 0;
  content: attr(desc);
  position: absolute;
  left: 50%;
  min-width: 75%;
  transform: translate3d(-50%, -100%, 0);
  bottom: -100%;
  border-radius: 2px;
  background: #eceff2;
  border: 1px solid #d6dce3;
  color: #6f869d;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  padding: 2px;
}
.page-home ul a[desc]:hover::before {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.page-home .lost {
  max-width: 120px;
}
.page-home .jeet {
  max-width: 100px;
}
.page-home .typographic {
  max-width: 120px;
}
.page-home .boy {
  max-width: 90px;
}
.page-home .intel {
  max-width: 80px;
}
.page-home .shft {
  max-width: 110px;
  background: #222;
}
.page-home .laracasts {
  max-width: 110px;
  opacity: 0.75;
}
.page-home .scholastic {
  max-width: 120px;
}
.page-home .world-vision {
  width: 100px;
}
.page-home .mojotech {
  width: 60px;
}
.page-home .grist {
  max-width: 60px;
}
.page-home ul {
  margin-bottom: 0;
}
.page-home .uses-work {
  margin-bottom: 15px;
}
.page-home .worked-with {
  padding-bottom: 30px;
}
.page-home .worked-with h3 {
  margin-bottom: 30px;
}
.page-home .built,
.page-home .uses-work,
.page-home .worked-with,
.page-home .written-for,
.page-home .what-i-know {
  border-top: 1px solid #e8ecf0;
  padding-top: 60px;
}
.page-home .written-for h3 {
  margin-bottom: 30px;
}
.page-home .tutsplus {
  background: #2e4256;
  border-radius: 3px;
  padding: 5px 8px;
  max-width: 110px;
}
.page-home .css-tricks {
  max-width: 110px;
}
.page-home .packt {
  height: 30px;
}
.page-home .net-mag {
  max-width: 70px;
}
.page-home .intro {
  margin-bottom: 60px;
}
.page-home .what-i-know {
  padding-bottom: 30px;
}
.page-home .what-i-know h3 {
  margin-bottom: 30px;
}
.page-home .what-i-know h4 {
  font-family: 'Istok Web', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 5px;
}
.page-home .what-i-know p {
  font-size: 0.75rem;
}
.page-home progress {
  appearance: none;
  margin-bottom: 5px;
  width: 100%;
}
.page-home progress[value]::-webkit-progress-value {
  background: #39526c;
}
.page-home progress[value]::-webkit-progress-bar {
  background: #b4c0cc;
}
@media (min-width: 800px) {
  .page-home .skills {
    generate-grid: sizes(0.5 0.5) gutter(60px);
  }
}
.page-home .skill p:last-of-type {
  margin-bottom: 30px;
}
.page-writings p:first-of-type {
  margin-top: 60px;
  margin-bottom: 60px;
}
.page-writings h2 {
  margin-bottom: 60px;
}
.page-writings h2 a {
  margin-top: 60px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #39526c;
}
.page-writings h2 .date {
  display: block;
  font-family: 'Istok Web', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  letter-spacing: 0.015em;
}
.page-writings .pagination {
  float: left;
  margin-top: 60px;
}
.page-writings .pagination .next,
.page-writings .pagination .previous {
  transition: all 200ms ease-in-out;
  border: 2px solid rgba(180,192,204,0.3);
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 2px;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  color: #39526c;
}
.page-writings .pagination .next:hover,
.page-writings .pagination .previous:hover {
  border-color: rgba(180,192,204,0.45);
  background: rgba(180,192,204,0.03);
}
.page-writings .pagination .previous {
  margin-right: 30px;
}
.post {
  padding-bottom: calc(50vh - 1.666666em - 60px);
  color: #39526c;
}
.post h1 {
  margin-top: 30px;
  float: left;
}
.post > *:not(h1) {
  margin-bottom: 30px;
}
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 60px;
}
.post footer {
  margin-top: 60px;
}
.post footer p {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.post footer p > span {
  display: block;
  font-size: 1.75rem;
  margin-left: 30px;
  margin-top: -10px;
  font-weight: bold;
}
.post footer p > span > span {
  display: block;
  font-size: 0.85rem;
}
.post-date {
  color: #b4c0cc;
  width: 100%;
  clear: both;
  position: relative;
  top: -20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0.25em;
  margin-bottom: 30px;
}
@media (min-width: 800px) {
  .post-date {
    margin-bottom: 60px;
  }
}
ol,
ul {
  list-style-position: inside;
}
pre,
code {
  background: #fafafa;
  border: 1px solid #f2f2f2;
  padding: 2px;
  overflow-x: auto;
}
pre {
  padding: 15px;
  overflow-x: auto;
  font-size: 0.85rem;
}
@media (min-width: 800px) {
  pre {
    padding: 30px;
  }
}
pre code {
  background: none;
  border: none;
  padding: none;
  overflow-x: hidden;
}
blockquote {
  padding: 30px;
  background: #fafafa;
  border-left: 5px solid #f2f2f2;
}
blockquote > *:last-child {
  margin-bottom: 0;
}
ul ul {
  margin-left: 1em;
}
.post li {
  margin-bottom: 5px;
}
.highlight .err {
  background: none;
}
ol {
  counter-reset: item;
}
ol > li {
  padding: 0 0 0 1.5em;
  text-indent: -1.5em;
  list-style-type: none;
  counter-increment: item;
}
ol > li::before {
  display: inline-block;
  width: 1.5em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}
code {
  font-size: 0.85rem;
}
pre code {
  font-size: 0.85rem;
}
